* {
  box-sizing: border-box;
}

body {
  max-width: 700px;
  max-height: 550px;
  margin: 0 auto;
  background-color: #f5f7fb;
  color: #293264;
  text-align: center;
  font-family: Karla;
  font-size: 16px;
  padding-left: 1rem;
  overflow: hidden;
}

.shape {
  position: absolute;
}

.yellow-sh {
  width: 297px;
  height: 235px;
  background: #fff3b0;
  top: -120px;
  right: -80px;
  border-radius: 48%;
}

.blue-sh {
  width: 297px;
  height: 235px;
  background: #d8ecff;
  bottom: -120px;
  left: -80px;
  border-radius: 40%;
}

.intro-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.intro-page h1 {
  font-size: 31.25px;
  font-weight: 700;
}

.intro-page p {
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  font-size: 1.05rem;
  padding-bottom: 2.5rem;
}

.btn {
  border-radius: 15px;
  background: #4d5b9e;
  color: #f5f7fb;
  border: none;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  opacity: 0.8;
}

.start-btn {
  width: 12.06rem; /*193px1*/
  height: 3.25rem; /*52px*/
}

.btn-submit {
  display: block;
  width: 7.5rem; /*120px*/
  height: 2.19rem; /*35px*/
  color: #f5f7fb;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 2rem auto;
}

.quizz-page {
  position: relative;
  text-align: start;
  padding-top: 2rem;
  margin-left: 2rem;
}

.quizz-page h2 {
  padding-top: 2rem;
  color: #293264;
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
}

.form-quizz {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

input[type="radio"] {
  appearance: none;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-answer {
  display: inline-block;
  border-radius: 7.942px;
  border: 1.8px solid #4d5b9e;
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: 0.7rem;
  font-weight: 500;
  padding: 0.3rem 0.8rem;
  min-width: 0.8rem;
  cursor: pointer;
}

input[type="radio"]:checked + .radio-answer {
  background: #d6dbf5;
}

.right {
  background-color: #94d7a2;
}

.wrong {
  background-color: #f8bcbc;
}

.quizz-end {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.message-score {
  color: #293264;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 700;
}
